{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<style>
  .vertical_margin {
     margin-top: 5px;
  }
  .linked_publication_title {
     color: rgb(19, 82, 39);
     font-weight: bold;
     font-size: 20px;
  }
  .unlinked_publication_title {
     color: rgb(120, 120, 120);
     font-weight: bold;
     font-size: 20px;
  }
  .author_block {
    font-size: 16px;
  }
</style>

<div>
  <!-- Title -->
  <p class="vertical_margin"></p>
  {% if post.link %}
    <a href="{{ post.link }}" class="linked_publication_title" style="text-decoration: none;">{{ title }}</a>
  {% else %}
    <a href="{{ base_path }}{{ post.url }}" rel="permalink" class="unlinked_publication_title" style="text-decoration: none;">{{ title }}</a>
  {% endif %}
  <!-- Authors -->
  <span class="author_block"><br/>{{ post.authors }}</span>
  <!-- Venue -->
  {% if post.abbr and post.award %}
    <span class="author_block"><br/><i>{{ post.venue }}</i> &#40;{{ post.abbr }}&#41; {{ post.year }}, {{ post.award }}</span>
  {% else %} {% if post.award %}
    <span class="author_block"><br/><i>{{ post.venue }}</i> {{ post.year }}, {{ post.award }}</span>
  {% else%} {% if post.abbr %}
    <span class="author_block"><br/><i>{{ post.venue }}</i> &#40;{{ post.abbr }}&#41; {{ post.year }}</span>
  {% else %}
    <span class="author_block"><br/><i>{{ post.venue }}</i> {{ post.year }}</span>
  {% endif %}{% endif %}{% endif %}
</div>