{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<style>
  .vertical_margin {
     margin-top: 5px;
  }
  .linked_publication_title {
     color: rgb(19, 82, 39);
     font-weight: bold;
     font-size: 22px;
  }
</style>

<p class="vertical_margin"></p>
<a href="{{ base_path }}{{ post.url }}" rel="permalink" class="linked_publication_title" style="text-decoration: none;">{{ title }}</a>
<span> <br/> {{ post.venue }} <br/> {{ post.authors }} </span>
