<div class="section-heading"><h2 id="cv-heading">Curriculum vitae</h2></div>
<section class="cv-section" aria-labelledby="experience-heading">
  <h3 id="experience-heading">Experience</h3>
  <section class="cv-organization" aria-labelledby="huawei-heading">
    <h4 id="huawei-heading"><img src="{{ '/images/organizations/huawei.svg' | relative_url }}" alt=""><span>Huawei</span></h4>
    <ol class="cv-timeline">
      <li><h5>Team Lead · Principal Research Scientist</h5><span class="cv-date"><time datetime="2026-09">09/2026</time>–present</span></li>
      <li><h5>Team Lead · Senior Research Scientist</h5><span class="cv-date"><time datetime="2024-06">06/2024</time>–<time datetime="2026-09">09/2026</time></span></li>
    </ol>
  </section>
</section>
<section class="cv-section" aria-labelledby="education-heading">
  <h3 id="education-heading">Education</h3>
  <section class="cv-organization" aria-labelledby="eth-education-heading">
    <h4 id="eth-education-heading"><img src="{{ '/images/organizations/eth.svg' | relative_url }}" alt=""><span>ETH Zurich</span></h4>
    <ol class="cv-timeline">
      <li><h5>PhD in Machine Learning and Computer Vision</h5><span class="cv-date"><time datetime="2024-07">07/2024</time></span></li>
      <li><h5>MSc in Electrical Engineering and Information Technology</h5><span class="cv-date"><time datetime="2020-06">06/2020</time></span></li>
      <li><h5>BSc in Electrical Engineering and Information Technology</h5><span class="cv-date"><time datetime="2019-07">07/2019</time></span></li>
    </ol>
  </section>
</section>
